$color-primary: #FF52BF;
$color-primary-light: #FF8FD8;
$color-font: #00252E;
$color-bg: #F6FBFF;
$color-error: #FF4242;
$color-white: #FFF;
$color-shadow: rgba(0, 0, 0, .17);

$font-body: 'Open Sans', 'Arial', sans-serif;
$font-heading: 'Poppins', 'Tahoma', sans-serif;

$transition: all .25s ease-in;

// screen size
$phone: 375px;
$tablet: 768px;
$laptop: 1120px;