*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #00252E;
}

.heading {
  font-family: "Poppins", "Tahoma", sans-serif;
  margin-bottom: 1.375rem;
}
.heading__main {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .heading__main {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 375px) {
  .heading__main {
    font-size: 1.5rem;
  }
}
.heading__section {
  font-size: 2.5rem;
  margin-bottom: 2.3rem;
}
@media screen and (max-width: 768px) {
  .heading__section {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .heading__section {
    font-size: 1.25rem;
  }
}
.heading__light {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #FFF;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
  .heading__light {
    font-size: 1.25rem;
    text-align: left;
  }
}

.text {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 170%;
  width: 40%;
  margin-bottom: 3.4rem;
}
@media screen and (max-width: 1120px) {
  .text {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .text {
    width: 100%;
    font-size: 0.875rem;
  }
}
.text__section {
  font-size: 1rem;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .text__section {
    font-size: 0.875rem;
  }
}
.text__light {
  width: 60%;
  font-size: 0.9rem;
  color: #FFF;
  line-height: 165%;
  margin-bottom: 1.9rem;
}
@media screen and (max-width: 1120px) {
  .text__light {
    text-align: left;
    width: 100%;
  }
}

.record__number {
  font-size: 6.25rem;
  font-weight: 700;
}
@media screen and (max-width: 1120px) {
  .record__number {
    font-size: 5rem;
  }
}
@media screen and (max-width: 375px) {
  .record__number {
    font-size: 4rem;
  }
}

.caption {
  font-size: 1.5rem;
  opacity: 0.5;
  margin-top: 1rem;
}
@media screen and (max-width: 1120px) {
  .caption {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 375px) {
  .caption {
    font-size: 1rem;
  }
}

.section {
  padding: 5rem 0;
}
@media screen and (max-width: 1120px) {
  .section {
    padding: 3.5rem 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 3.5rem 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .section {
    padding: 2.5rem 1.5rem;
  }
}
.section__half {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section__half {
    flex-direction: column;
  }
}
.section__img {
  display: block;
  width: 100%;
}
.section__bg {
  background-color: #F6FBFF;
}
@media screen and (max-width: 768px) {
  .section__bg {
    flex-direction: column-reverse;
  }
}

.centered {
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .centered {
    margin: 3rem auto;
  }
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 6rem;
}
@media screen and (max-width: 1120px) {
  .text-box {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .text-box {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.img-box {
  width: 50%;
  padding: 0 6rem;
}
@media screen and (max-width: 1120px) {
  .img-box {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .img-box {
    width: 80%;
    padding: 0;
    margin: 0 auto 3.5rem;
  }
}
@media screen and (max-width: 375px) {
  .img-box {
    width: 100%;
  }
}

.curve {
  position: relative;
  margin-top: 20rem;
}
@media screen and (max-width: 768px) {
  .curve {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 375px) {
  .curve {
    margin-top: 10rem;
  }
}
.curve__img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.curve-bottom {
  margin-top: 0;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .curve-bottom {
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 375px) {
  .curve-bottom {
    margin-bottom: 10rem;
  }
}
.curve-bottom .curve__img {
  top: 0;
}

.main__img {
  margin: 5.3rem 0;
}
@media screen and (max-width: 1120px) {
  .main__img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .main__img {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
  }
}

.record__icon {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .record__icon img {
    width: 2rem;
  }
}

.header {
  margin: 5rem 5rem 10rem;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 3rem 3rem 7rem;
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin: 1.5rem 1.5rem 5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .nav__logo-box > img {
    width: 60%;
  }
}

.footer {
  background-color: #00252E;
}
@media screen and (max-width: 768px) {
  .footer > .section {
    flex-direction: column-reverse;
  }
}
.footer__logo-box > img {
  display: block;
  filter: brightness(0) invert(1);
  margin-bottom: 1.6rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .footer__logo-box > img {
    width: 40%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .footer__logo-box > img {
    width: 60%;
  }
}
.footer .contacts {
  list-style: none;
  font-size: 1rem;
}
.footer .contacts__item {
  margin-bottom: 1rem;
}
.footer .contacts__icon {
  margin-right: 1rem;
}
.footer .socials__list {
  display: flex;
  list-style: none;
}
.footer .socials__item {
  margin-right: 1.5rem;
  width: 2rem;
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .footer .socials__item {
    width: 1.5rem;
    margin-right: 0.8rem;
  }
}
.footer .socials__item:hover {
  filter: invert(58%) sepia(98%) saturate(1475%) hue-rotate(153deg) brightness(97%) contrast(99%);
}
.footer .attribution {
  font-size: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.footer .attribution a {
  color: #FFF;
  transition: all 0.25s ease-in;
}
.footer .attribution a:hover {
  color: #FF52BF;
}

.form {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6rem;
  }
}
.form .error {
  display: none;
  position: absolute;
  bottom: -1rem;
  font-size: 0.8rem;
  color: #FF4242;
}
@media screen and (max-width: 1120px) {
  .form .error {
    bottom: 1rem;
    align-self: flex-start;
  }
}
.form__label {
  display: none;
}
.form__input {
  width: 20rem;
  font-size: 1rem;
  padding: 0.65rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
    margin-right: 0;
  }
}
.form__input:focus {
  outline: none;
}
.form__input:invalid {
  outline: 1px solid #FF4242;
}
.form__input:invalid + .error {
  display: block;
}

.btn {
  display: block;
  width: fit-content;
  background-color: #FF52BF;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6rem;
  text-decoration: none;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  .btn {
    font-size: 0.675rem;
  }
}
.btn:hover {
  background-color: #FF8FD8;
}
.btn__main {
  margin: 1.5rem auto;
  font-size: 1.25rem;
  padding: 1.6rem 5rem;
  transition: all 0.25s ease-in;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.17);
}
@media screen and (max-width: 768px) {
  .btn__main {
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 375px) {
  .btn__main {
    font-size: 0.85rem;
    padding: 0.8rem 2.7rem;
  }
}
.btn__ghost {
  background-color: #FFF;
  color: #FF52BF;
  border: 2px solid #FF52BF;
  padding: 0.6rem 2rem;
}
@media screen and (max-width: 768px) {
  .btn__ghost {
    padding: 0.5rem 1.2rem;
  }
}
.btn__ghost:hover {
  color: #FF8FD8;
  border-color: #FF8FD8;
  background-color: #FFF;
}
.btn__form {
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.8rem 2.5rem;
}
@media screen and (max-width: 768px) {
  .btn__form {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
